[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-polymorphic = "*"
gunicorn = "*"
python-dateutil = "*"
python-rapidjson = "*"
django-crispy-forms = "*"
django-guardian = "==2.1.0 "
django-autoslug = "*"
django-rest-framework-social-oauth2 = "*"
django-admin-json-editor = "*"
django-graphene-gis-extension = "~=0.2"
django-oauth-toolkit = {git = "git://github.com/jazzband/django-oauth-toolkit.git", ref = "295c065a3e5a14b777f1e56c8e36adedae0af461"}
requests = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-language-fields = "*"
graphene-django = "*"
graphene-file-upload = "*"
serious-django-enums = "~=0.1"
serious-django-graphene = "~=0.1.post2"
serious-django-permissions = "~=0.13"
serious-django-services = "~=0.2.post2"
pillow = "*"
boto3 = "*"
django-storages="*"
django-filter = "*"
python-gnupg = "*"
pgpy = "*"
django-oauth-toolkit-jwt = {git = "https://github.com/LilithWittmann/django-oauth-toolkit-jwt/"}
cryptography = "*"
graphene-permissions = "*"
django-graphene-permissions = "*"
packaging = "*"
black = {git = "git://github.com/psf/black"}
pre-commit = "*"
pytest = "*"
coverage = "*"
