[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-polymorphic = "*"
gunicorn = "*"
python-dateutil = "*"
python-rapidjson = "*"
django-crispy-forms = "*"
django-guardian = "==2.1.0 "
django-autoslug = "*"
django-rest-framework-social-oauth2 = "*"
django-admin-json-editor = "*"
django-graphene-gis-extension = "~=0.2"
django-oauth-toolkit = "*"
requests = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-language-fields = "*"
graphene-django = "*"
graphene-file-upload = "*"
serious-django-enums = "~=0.1"
serious-django-graphene = "~=0.1.post2"
serious-django-permissions = "~=0.13"
serious-django-services = "~=0.2.post2"
pillow = "*"
boto3 = "*"
django-storages="*"
django-filter = "*"
graphene-django-extras = "*"
python-gnupg = "*"
pgpy = "*"
django-oauth-toolkit-jwt = {git = "https://github.com/Humanitec/django-oauth-toolkit-jwt"}
cryptography = "*"

[requires]
python_version = "3.8"
